html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container:hover
.circle-marker-success::before {
  background: transparent;
  border: 3px solid #10e00f !important;
}

.circle-marker-success::before {
  background: #10e00f;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
